.alert-slider-sec {
    padding: 12px 0;
    background: linear-gradient(3deg,
            rgba(66, 102, 178, 1) 0%,
            rgba(149, 68, 156, 1) 50%,
            rgba(254, 153, 0, 1) 100%);
    color: white;
    text-align: center;
}

.controls-sec {
    padding: clamp(20px, 5vw, 30px) 0;
    border-bottom: 1px solid #EDEDED;

    .form-select {
        background-color: transparent;
        border: none;
        outline: none;
    }
}

.hero-sec {
    padding: 0;

    .hero-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .content-wrapper {
            .span {
                font-size: clamp(16px, 4vw, 20px);
            }

            p {
                font-size: clamp(14px, 2vw, 16px);
            }
        }

        .image-wrapper {
            display: flex;
            justify-content: flex-end;
        }
    }
}

.step-sec {
    padding-top: 0;

    .step-card {
        border-radius: 20px;
        padding: 30px;
        background-color: #F9F9FA;

        .step-list {
            li {
                >span {
                    font-size: clamp(16px, 3vw, 22px);
                }

                .step {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    .icon {
                        background-color: var(--blue);
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-size: 22px;
                        min-width: 47px;
                        height: 47px;



                    }

                    .content {
                        span {
                            font-size: clamp(14px, 2.5vw, 20px);
                        }

                        p {
                            font-size: clamp(13px, 2.3vw, 16px);
                        }
                    }
                }

                .step-1 {
                    margin-bottom: 67px;
                    position: relative;

                    .icon {
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -57px;
                            left: 24px;
                            background-color: #EDEDED;
                            width: 2px;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}

.amazon-sec {
    padding: 25px 0;

    p {
        font-size: clamp(14px, 2vw, 18px);

        a {
            color: var(--blue);
            text-decoration: underline;
        }
    }

    .amazon-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        border-left: 1px solid var(--primary);

        p {
            font-size: clamp(12px, 1.8vw, 16px);
        }
    }
}

.half-sec {
    &.content-right {
        .content-wrapper {
            padding-left: 48px;
        }
    }

    &.content-left {
        .content-wrapper {
            padding-right: 48px;
        }
    }

    .img-wrapper {
        .sec-img {
            max-width: 580px;
        }

    }
}

.featured-card-sec {
    .card {
        padding: 42px 28px;
        background-color: var(--ghost-white);
        border-radius: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .badge {
            border: 1px solid #c2c2c2;
            border-radius: 24px;
            padding: 2px 16px;
            line-height: 30px;
            color: var(--gray-3);
            width: fit-content;
        }

        .title {
            font-size: clamp(20px, 4vw, 24px);
        }

        .price {
            span {
                font-size: clamp(35px, 4vw, 40px);
            }
        }

        p {
            font-size: clamp(13px, 4vw, 16px);
        }

        .custom-hr {
            border-bottom: 1px solid var(--blue);
            opacity: 0.1;
        }

        .list-with-icon {
            font-size: clamp(13px, 4vw, 16px);
        }

        .btn {
            max-width: 100%;
        }

        &.featured {
            .badge {
                color: var(--bright-gray);
            }

            p,
            .list-with-icon {
                li {
                    &::before {
                        filter: brightness(100);
                    }
                }
            }

            .custom-hr {
                border-color: white;
            }

            .btn {
                background-color: white;
                color: var(--blue);

                &:before {
                    background-image: url("./../../assets/img/icons/btn-blue-arrow.svg");
                }
            }
        }
    }
}

@media (max-width: 1180px) {
    .hero-sec {
        padding: 20px 0;
    }
}

@media (max-width: 991px) {
    .hero-sec {
        padding-bottom: 0;

        .hero-inner {
            grid-template-columns: 1fr;
            gap: 0;

            .image-wrapper {
                justify-content: flex-start;
            }
        }
    }

    .amazon-sec {
        .amazon-inner {
            flex-direction: column;
            gap: 15px;
            align-items: flex-start;
            border-left: none;
            padding-left: 0;

            p {
                border-left: 1px solid var(--primary);
                padding-left: 14px;
            }

            .btn {
                margin-left: 14px;
            }
        }
    }

    .half-sec {
        &.content-right {
            .content-wrapper {
                padding-left: 0;
            }
        }

        &.content-left {
            .content-wrapper {
                padding-right: 0;
            }
        }

        .img-wrapper {
            max-width: fit-content;
            margin: auto;

            .sec-img {
                max-width: 340px;
                display: block;
                margin: 0 auto;
            }

            .line-obj {
                svg {
                    width: 220px;

                }
            }
        }
    }
}

@media (max-width:768px) {
    .featured-card-sec {
        .card {
            padding: 24px 20px;
            background-color: var(--ghost-white);
            border-radius: 20px;
            height: 100%;
            overflow: hidden;
        }
    }
}

@media (max-width: 575px) {
    .step-sec {
        .step-card {
            padding: 25px 18px;

            .step-list {
                li {
                    .step {
                        gap: 10px;
                        align-items: flex-start;

                        .icon {
                            min-width: 41px;
                            height: 41px;
                            font-size: 16px;



                        }
                    }

                    .step-1 {
                        .icon {
                            &::after {
                                left: 21px;
                            }
                        }
                    }
                }
            }
        }
    }

    .amazon-sec {
        .amazon-inner {

            .btn {
                padding-right: 70px;
            }
        }
    }
}