.banner-sec {
  padding: clamp(45px, 5vw, 60px) 0;
}

.content-sec {
  padding: 0;
  .card {
    padding: 40px 80px 40px 40px;
    background: linear-gradient(90deg, #ffffff, #ffffff) padding-box,
      linear-gradient(140deg, var(--blue), var(--primary), var(--secondary))
        border-box;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 42px 42px 0 #00000010;
    z-index: 2;
    position: relative;
    top: -110px;
    left: 0;
    &:hover {
      background: linear-gradient(90deg, #ffffff, #ffffff) padding-box,
        linear-gradient(280deg, var(--blue), var(--primary), var(--secondary))
          border-box;
    }
    p {
      font-weight: normal;
      font-size: clamp(13px, 3.5vw, 16px);
      span {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .content-sec {
    .card {
      padding: 40px 40px;
      top: -130px;
    }
  }
}

@media (max-width: 430px) {
  .content-sec {
    .card {
      padding: 24px 33px 24px 20px;
      top: -134px;
    }
  }
}
