.banner-sec {
  padding: clamp(45px, 5vw, 60px) 0;
  p {
    font-size: clamp(16px, 4vw, 22px);
  }
}

.featured-card-sec {
  .card {
    padding: 42px 28px;
    background-color: var(--ghost-white);
    border-radius: 20px;
    height: 100%;

    .offer-name {
      font-size: clamp(20px, 4vw, 24px);
    }
    .price {
      span {
        font-size: clamp(35px, 4vw, 40px);
      }
    }
    p {
      font-size: clamp(13px, 4vw, 16px);
    }
    .custom-hr {
      border-bottom: 1px solid #4265b250;
    }
    .list-with-icon {
      font-size: clamp(13px, 4vw, 16px);
    }
    a {
      max-width: 100%;
    }
  }
  .featured {
    .badge {
      color: var(--bright-gray);
    }
    p,
    .list-with-icon {
      li {
        &::before {
          filter: brightness(100);
        }
      }
    }
    .custom-hr {
      border-bottom: 1px solid #ffffff35;
    }
    .btn::before {
      background-image: url("./../../assets/img/icons/btn-blue-arrow.svg");
    }
  }
}

.account-info-sec {
  .owner,
  .team-member,
  .my-team-members {
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    .title {
      font-size: clamp(16px, 3.5vw, 22px);
    }
    .custom-hr {
      border-bottom: 1px solid #ededed !important;
      margin-bottom: 24px;
    }
    .details {
      .form-control {
        background-color: #ffffff;
        border: none;
        border-radius: 8px;
        padding: 18px 20px;

        &::placeholder {
          font-size: clamp(13px, 3.5vw, 18px);
        }
      }
    }
  }
  .team-member .details .form-control {
    border: 1px solid var(--gray);
  }
  .my-team-members p {
    color: #33333380;
    font-size: clamp(14px, 3.5vw, 18px);
  }
}

.help-center-sec {
  .card {
    padding: 16px 16px;
    .icon {
      border-radius: 50px;
      width: 50px;
      height: 50px;
    }
    .title {
      font-size: clamp(18px, 3.5vw, 22px);
    }
    p {
      font-size: clamp(13px, 3.5vw, 16px);
    }
  }
}

@media (max-width: 1209px) {
  .mb-w1209-162px {
    margin-bottom: 162px;
  }
}

@media (max-width: 768px) {
  .featured-card-sec {
    .card {
      padding: 24px 20px;
      background-color: var(--ghost-white);
      border-radius: 20px;
      height: 100%;
      overflow: hidden;
    }
  }
  .account-info-sec {
    .owner,
    .team-member,
    .my-team-members {
      padding: 24px 22px;
      margin-bottom: 20px;
      .custom-hr {
        margin-bottom: 14px;
      }
      .details {
        .form-control {
          padding: 14px 20px;
          &::placeholder {
            font-size: clamp(13px, 3.5vw, 18px);
          }
        }
      }
    }
  }
  .help-center-sec {
    .card {
      padding: 8px 10px;
    }
  }
}
