:root {
  --primary: #95449C;
  --secondary: #FE9900;
  --blue: #4266B2;
  
  --gray: #333333;
  --gray-2: #30333A;
  --gray-3: #818181;
  --gray-light: #F4F2F0;

  --font-family: "AvenirLTStd", sans-serif;
  --section-padding: clamp(45px, 7vw, 100px) 0;
  --heading-color: #323232;
}
